::ng-deep {
  
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    padding: 1rem 1rem !important;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    color: #343a40;
    transition: box-shadow 0.2s;
}

  .p-datatable .p-datatable-tbody > tr,
  .p-datatable .p-paginator-bottom,
  .p-datatable .p-datatable-tbody > tr > td {
    @apply bg-transparent border-0;
  }
  .p-paginator .p-paginator-first, 
  .p-paginator .p-paginator-prev, 
  .p-paginator .p-paginator-next, 
  .p-paginator .p-paginator-last,
  .p-paginator .p-paginator-pages .p-paginator-page {
    @apply bg-white;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    @apply pt-0 pr-0 pl-0 pb-5;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    @apply text-magicPotion border-magicPotion bg-white;
  }
  .p-link:focus {@apply shadow-none;}
  .p-datatable .p-paginator-bottom {@apply p-0;}
  .p-paginator .p-paginator-current {@apply mr-auto pl-0;}
  .p-paginator .p-dropdown {@apply mr-0 border-0;}
  .p-paginator {@apply bg-transparent border-0;}

  .p-paginator .p-dropdown,
  .p-paginator .p-paginator-first, 
  .p-paginator .p-paginator-prev, 
  .p-paginator .p-paginator-next, 
  .p-paginator .p-paginator-last,
  .p-paginator .p-paginator-pages .p-paginator-page {
    @apply rounded;
  }
}